
<div class="container-fluid  justify-content-center bg-white">
  <div class="col-8 mx-auto">

      <div class="card col-md-12 m-4">
        <div class="card-body">
          <div class="mb-4 mt-2">
            <h5 class="card-title mb-0">{{Order?.UserName}}</h5>
            <p class="card-text text-muted">{{Order?.UserAddress}}</p>
          </div>
          <div class="card-text">
            <ul class="list-unstyled">
            <li>Descripton: {{Order?.Description}}</li>
            <li>Price: From {{Order?.FromPrice}}EGP To {{Order?.ToPrice}}EGP</li>
            <li>Quantity: {{Order?.Quantity}} {{Order?.QuantityUnit}}</li>
            <li>Delivery Date: {{Order?.PrepTime}}</li>
          </ul>
        </div>
          <small class="text-muted  mx-2">Posted {{Order?.date}}</small>
      </div>
  </div>


  <div class="col-md-12 m-2 container">
  <div class="row">
  <div  *ngFor="let proposal of Order?.Proposals" class="card col-md-4 border-0 d-flex ">
    <div class="card CardHeight border-0  shadow-sm zoom mb-2" style="background-color: rgba(0, 0, 0, 0.05);">

    <!-- Chef Data -->
    <div class="d-flex align-items-center">
      <img
        [src]="proposal.chefPhoto"
        class="rounded-circle me-3 m-3"
        style="width: 70px; height:70px"
        alt="Profile photo"
      />
      <div class="mb-4 mt-4 ml-2">
        <h5 class="card-title mb-0">{{proposal.chefName}}</h5>
        <div [style.width.px]="proposal.chefRating*15" class="crop">
          <div style="width: 75px; font-size: small; cursor:text;">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
        </div>
      </div>


    </div>

    <div class="card-body">
      <div class="card-text">
          <ul class="list-unstyled">
            <li>Total Price: {{proposal.Price}}</li>
            <li>Additional Info: {{proposal.Description}}</li>
          </ul>
      </div>
      <div class="btn-group mt-3 d-flex align-items-center">
        <button type="button" class="btn btn-sm btn-success" (click)="AcceptProposal(proposal)">Accept</button>
      </div><br>
      <small class="text-muted mt-0">Posted {{proposal.datePosted}}</small>
    </div>

    </div>
  </div>
  </div>
</div>


</div>
</div>
