$theme-colors: (
  "primary": #fea116,
  "dark": #0f172b,
);
$light: #f1f8ff;
$dark: #0f172b;
$font-family-base: "Heebo", sans-serif;

$headings-font-family: "Nunito", sans-serif;

$body-bg: #ffff;

$body-color: #666565;

$headings-color: $dark;

$headings-font-weight: 800;

$display-font-weight: 800;

$enable-responsive-font-sizes: true;

$border-radius: 2px;

$link-decoration: none;

$enable-negative-margins: true;

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";
