
<div class="container-xxl bg-white p-0">
  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6">
          <div class="row g-3">
            <div class="col-10 text-start">
              <img
                class="img-fluid rounded w-200 wow zoomIn"
                data-wow-delay="0.1s"
                src={{ChfInfo?.chefPhoto}}
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <h5
            class="section-title ff-secondary text-start text-primary fw-normal"
          >
            bio
          </h5>
          <h1 class="mb-2">{{ChfInfo?.chefName}}</h1>
     <div style="display: inline-flex; " class="mb-2"> <h6>Rating:</h6> <div [style.width.px]="chefRatingValue" class="crop">
        <div style="width: 75px; font-size: small; cursor:text;">
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        </div>
      </div>        
          <p class="mb-4">
            Welcome to my page! I am a passionate chef with a deep love for creating 
            delicious and innovative dishes. My culinary journey began when I was young, 
            watching my grandmother cook traditional family recipes in her kitchen. 
            Since then, I have honed my skills and developed my own unique style, 
            blending classic techniques with modern twists.
          </p>
          <h6 class="mb-4">
            My address: 
          </h6>
          <p>{{ChfInfo?.chefAddress}}</p>
        </div>
      </div>
    </div>
  </div>
  <!--about end-->
  
    <!-- Menu Start -->
    <app-menu-details></app-menu-details>
    <!-- Menu End -->
  
    <!-- Reviews Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="container">
        <div class="text-center">
          <h5
            class="section-title ff-secondary text-center text-primary fw-normal"
          >
            Reviews
          </h5>
          <h1 class="mb-5">Our Clients Say!!!</h1>
        </div>
        <div class="review-row">
          <div class="review-box" *ngFor="let review of Cheffeedbks">
            <h5>{{review.userName}}</h5>
            <div [style.width.px]="review.rating*15" class="crop">
              <div style="width: 75px; font-size: small; cursor:text;">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
            <h6>{{review.review}}</h6>
            <p>{{ review.date }}</p>
          </div>
        </div>
      </div>
    </div>
  
          <!-- Reviews End -->
          
          <!-- Write Review Start-->
        <div *ngIf="isUser" class="position-relative mx-auto text-center" style="max-width: 400px">
          <app-rating [currentRating]="4" [maxRating]="5" (UserRating)="userReviewonChef.rating=$event"></app-rating>
          <form (ngSubmit)="saveReview()">
            <input
            class="form-control border-primary w-100 py-3 ps-4 pe-5"
             type="text" 
             name="textInput" 
             placeholder="Write Your Review"
             [(ngModel)]="textInput" 
             required>
            <button 
            type="submit" 
            [disabled]="!textInput"
            class="btn btn-primary py-2 top-0 end-0 mt-2 me-2"
            >
            Submit
          </button>
          </form>
        </div>       
  
          <!-- Write Review End-->
          
  </div>
