<!-- 
        
        <div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row g-0"></div>
                <div class="col-md-12 bg-dark d-flex align-items-center">
                     
                        <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="row g-6">
                                    <div class="col-md-12" class="form-group">
                                        <div class="form-floating">
                                        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Your email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required>
                                        <label>Write your Email </label>

        
                  <span *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</span>
                  <span *ngIf="loginForm.get('email')?.errors?.['email']">Email is invalid</span>
               
                                        </div>
                                        <br>
                                    
                                    <div class="form-floating">
                                        <input text='password' class="form-control" id="password" placeholder="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
                                       
                                     <label>Write your Password </label>
                                        <br>
                                    </div>

                                </div>
                                
                                <div class="col-12">
                                    
                                    <button class="btn btn-primary w-100 py-3" type="submit" (click)="handleSubmit($event)">Login Now</button>
                                    <h6 class="section-title ff-secondary text-start text-primary fw-normal">Or</h6>
                                </div>

                                
                            </div>
                            
                        </form>
                        <div class="col-12">
                                        
                            <a routerLink="register"  (click)="RegisterAsAUser()" class="btn btn-primary w-100 py-3"> Register </a>
                            <br>
                            <h6 class="section-title ff-secondary text-start text-primary fw-normal">Or</h6>
                            <a routerLink="register"  (click)="RegisterAsAChef()"  class="btn btn-dark w-100 py-3">  Be A Chef ? </a>
                       
                    </div>
                </div>
            </div>
        

        
      
        

        -->  
        
        
               
        <div class=" py-0 px-0 ">
            <div class="row g-0"></div>
                <div class="col-md-12 bg-dark align-items-center">
                         
                    
  <div class="row justify-content-center">
   
    <div class="col-xl-6 col-md-8 col-sm-10 col-10 mx-2 mx-sm-0 wow fadeInUp" data-wow-delay="0.1s">
        <h1 class="section-title ff-secondary text-start text-primary fw-normal">Login </h1>
        <div >

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" >
            <div  class="form-floating" >
             
              <input type="email" class="form-control my-3" id="email" formControlName="email">
              <label for="email">Email address</label>
              <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="invalid-feedback">
                <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</div>
                <div *ngIf="loginForm.get('email')?.errors?.['email']">Email is invalid</div>
              </div>
            </div>
          
            <div class="form-floating">
                <input type="password" class="form-control" id="password" formControlName="password">
              <label for="password">Password</label>
              
              <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="invalid-feedback">
                <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</div>
              </div>
              <br>
            </div>
            <button type="submit" class="btn btn-primary w-100 py-3" [disabled]="loginForm.invalid">Login</button>
          </form>
          <div class="d-flex justify-content-between mt-3">
            <a routerLink="register" class="btn btn-link btn-primary" (click)="RegisterAsAUser()" >Register</a>
            <a routerLink="register" class="btn btn-link btn-primary" (click)="RegisterAsAChef()">Be A Chef?</a>
          </div>
        </div>
      </div>
    </div>
  </div>



