.menu-item {
  cursor: pointer;
}
.close-btn:hover {
  color: var(--primary);
}
.like-button:hover {
  color: var(--primary) !important;
}
@media (max-width: 424px) {
  .price {
    text-align: center;
  }
}
input:focus {
  border-color: var(--primary);
  -webkit-box-shadow: 0 0 0 0.2rem rgba(var(--bs-primary-rgb), 0.5);
  box-shadow: 0 0 0 0.2rem rgba(var(--bs-primary-rgb), 0.5);
}
