<!-- Footer Start -->
<div
  class="container-fluid text-light footer pt-5  bg-dark"
  
>
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <h4
          class="section-title ff-secondary text-start text-primary fw-normal mb-4"
        >
          Company
        </h4>
        <a [routerLink]="['AboutUS']" class="btn btn-link" href="">About Us</a>
        <a [routerLink]="['ContactUs']" class="btn btn-link" href="">Contact Us</a>
        <a [routerLink]="['login/Be_a_chef']" routerLinkActive="active"  (click)="beachef()"class="btn btn-link" href="">Be a chef</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4
          class="section-title ff-secondary text-start text-primary fw-normal mb-4"
        >
          Contact
        </h4>
        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i> Alexandria</p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+021140916750</p>
        <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@khaltabita.com</p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-twitter"></i
          ></a>
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-youtube"></i
          ></a>
          <a class="btn btn-outline-light btn-social" href=""
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <h4
          class="section-title ff-secondary text-start text-primary fw-normal mb-4"
        >
          Send us feedback
        </h4>

        <div class="position-relative mx-auto" style="max-width: 400px">
          <input
            class="form-control border-primary w-100 py-3 ps-4 pe-5"
            type="text"
            placeholder="Your email"
          />
          <br />
          <input
            class="form-control border-primary w-100 py-3 ps-4 pe-5"
            type="text"
            placeholder="your feedback about us"
          />
          <br />
          <button
            type="button"
            class="btn btn-primary py-2 top-0 end-0 mt-2 me-2"
          >
            Send
          </button>
        </div>

        <!-- <div>
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="message">Message:</label>
              <textarea class="form-control" id="message" name="message" rows="5" [(ngModel)]="message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send Message</button>
          </form>
        </div> -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a class="border-bottom" href="#">Foody</a>, All Right
          Reserved.

          <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
        </div>
      </div>
    </div>
    <!-- Footer End -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a>
  </div>
</div>
