
<div  *ngFor="let Order of response">
<div class="container-fluid d-flex justify-content-center bg-white">
  <div class="col-8 mx-auto">
    <div class="row m-1 mt-0 gx-1">
      <div class="card col-md-12 mt-5 mb-3">
        <div class="card-body">
          <div class="mb-4 mt-0">
            <h5 class="card-title mb-0">{{Order.username}}</h5>
            <p class="card-text text-muted">{{Order.userAddress}}</p>
          </div>
          <div class="card-text">
            <ul class="list-unstyled">
            <li>Descripton: {{Order.description}}</li>
            <li>Price: From {{Order.fromPrice}} To {{Order.toPrice}}</li>
            <li>Quantity: {{Order.quantity}}{{Order.quantityUnit}}</li>
            <li>Delivery Date: {{Order.prepTime}}</li>
          </ul>
        </div>
        <a class="btn btn-primary" (click)="ViewPost(Order.postID)">View Post</a>
          <small class="text-muted  mx-2">Posted {{Order.date}}</small>
        </div>
      </div>
</div>
