<div class="container-xxl bg-white p-0">
 
  <!-- Team Start -->
  <div class="container-xxl pt-5 pb-3">
    <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h5
          class="section-title ff-secondary text-center text-primary fw-normal"
        >
          Team Members
        </h5>
        <h1 class="mb-5">Meet Our Top Chefs</h1>
      </div>
      <div class="row g-4">
        <div
          class="col-lg-3 col-md-6 wow fadeInUp"
          data-wow-delay="0.3s"
          *ngFor="let item of chefs"
        >
          <div class="team-item text-center rounded overflow-hidden" style="height: 25rem;">
            <div class="overflow-hidden h-50" >
              <img class="img-fluid"  src="{{ item.chefPhoto }}" alt="" />
            </div>
            <br />
            <h5 class="mb-3">{{ item.chefName }}</h5>
            <div class="d-flex justify-content-center mt-3">
                <div [style.width.px]="item.chefRating*15" class="crop">
                  <div style="width: 75px; font-size: small; cursor:text;">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                </div>
            </div>
            <a [routerLink]="['/chefs', item.chefId]">details</a>
            <br />
            <small>{{ item.chefAddress }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team End -->
</div>
